<form
    data-request="onLoginWithWP">
    <div class="form-group">
        <label for="userSigninLogin">Se connecter</label>
        <input name="login" type="text" class="form-control" id="userSigninLogin" placeholder="Nom d'utilisateur">
    </div>

    <div class="form-group">
        <label for="userSigninPassword">Mot de passe</label>
        <input name="password" type="password" class="form-control" id="userSigninPassword" placeholder="Mot de passe">
    </div>

    <button type="submit" class="btn btn-default">Connect</button>
</form>
